* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/* Шапка */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: #bdc3c7;
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.site-name {
  font-family: serif;
  font-size: 50px;
  font-style: italic;
  color: #2e7d32;
}

header img {
  height: 75px;
  border: 2px solid #555;
  border-radius: 50px;
}

nav {
  display: flex;
  gap: 30px;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

nav a:hover {
  color: #2e7d32;
  text-decoration: underline;
}

/* Секции */
section {
  padding: 40px 100px;
  margin: 0 auto;
}

section h2 {
  text-align: center;
  font-family: serif;
  font-size: 36px;
  color: #2e7d32;
  margin-bottom: 30px;
}

/* О нас */
.about-content p {
  line-height: 1.6;
  color: #444;
  margin: 15px 0;
}

.about-content ul {
  list-style: none;
  padding-left: 25px;
  margin: 20px 0;
}

.about-content li {
  position: relative;
  margin-bottom: 10px;
}

.about-content li::before {
  content: "✓";
  color: #2e7d32;
  position: absolute;
  left: -25px;
}

/* Польза растений */
.benefits {
  background-color: #f5f5f5;
}

.benefits-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 25px;
}

.benefit-item {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.benefit-item h3 {
  color: #2e7d32;
  font-size: 18px;
  margin-bottom: 12px;
}

.benefit-item p {
  color: #555;
  line-height: 1.5;
  font-size: 15px;
}

/* Галерея */
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 40px 20px;
  margin:auto
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.caption {
  text-align: center;
  font-size: 15px;
  color: #555;
  padding: 10px 0;
  background-color: antiquewhite;
  border-radius: 8px;
}

/* Подвал */
.footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 30px 20px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
  margin: 0 auto 30px;
}

.footer-column h3 {
  color: #1abc9c;
  font-size: 17px;
  margin-bottom: 12px;
}

.footer-column a {
  color: #ecf0f1;
  text-decoration: none;
}

.footer-column a:hover {
  color: #1abc9c;}
